pipeline/pl_ingest_henkel_poc_dl.json
{
	"name": "pl_ingest_henkel_poc_dl",
	"properties": {
		"activities": [
			{
				"name": "get_file_details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "customer",
						"type": "DatasetReference",
						"parameters": {
							"p_date_exported": {
								"value": "@formatDateTime(pipeline().parameters.p_date_exported,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_file_exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_file_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get_file_details').output.Exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ingest_mapping",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vladimir.visnovsky@gmail.com/ingest/ingest_mapping",
								"baseParameters": {
									"p_date_exported": {
										"value": "@formatDateTime(pipeline().parameters.p_date_exported, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adls_poc_dl",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_survey",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vladimir.visnovsky@gmail.com/ingest/ingest_survey",
								"baseParameters": {
									"p_date_exported": {
										"value": "@formatDateTime(pipeline().parameters.p_date_exported, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adls_poc_dl",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_customer",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vladimir.visnovsky@gmail.com/ingest/ingest_customer",
								"baseParameters": {
									"p_date_exported": {
										"value": "@formatDateTime(pipeline().parameters.p_date_exported, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adls_poc_dl",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_date_exported": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-05T17:13:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}